* {
    margin: 0;
    padding: 0;

}

/* latin */
@font-face {
    font-family: 'Laila';
    font-style: normal;
    font-weight: 400;
    src: local('Laila Regular'), local('Laila-Regular'), url(https://fonts.gstatic.com/s/laila/v5/LYjMdG_8nE8jDLRagCY.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Laila';
    font-style: normal;
    font-weight: 700;
    src: local('Laila Bold'), local('Laila-Bold'), url(https://fonts.gstatic.com/s/laila/v5/LYjBdG_8nE8jDLzhpTNHjV8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    font-family: "Laila";

}

.header {
    background-color: black;
    color: aliceblue;
    width: 100%;
    position: relative;

}

.logo {
    position: relative;
    display: inline-block;
    margin-left: 15px;

}

.menu {
    width: 800px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
}

.menu li {
    list-style: none;
    text-decoration: none;
    position: relative;
    padding: 5px;
    display: inline-block;
    padding: 15px;
    border-left: 5px;

}

li a {
    text-decoration: none;
    color: aliceblue;
}

.menu li:hover {
    background-color: gray;
    color: black;
}

.banner img {
    width: 100%;
}

.top {
    height: 60px;
    width: 60px;
    text-align: center;
    position: fixed;
    top: 580px;
    left: 1230px;
    text-decoration: none;
    opacity: 0.2;
}

.top:hover {
    opacity: 1;

}

.footer {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}

.footer h1 {
    padding: 15px;
    margin: 0 auto;
    text-align: center;

}

.contact {
    background: url(../pic/contact-us.png) center center;
    width: 100%;
    height: 100%;
}

/**
.contact h1 {
    position: relative;

    width: 300px;
    height: 240px;
    top: 0px;
    display: inline-block;
    float: left;
}
**/
.contact form {
    position: relative;
    left: 420px;
    margin: 20px;
    display: inline-block;

}

.contact p {
    position: relative;
    display: inline-block;
    margin: 20px;
    float: right;
    right: 60px;
}

.button1 {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.button1:hover {
    background-color: darkgray;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
}

input[type=tel] {
    width: 100%;
    padding: 12px 20px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
}

.t-container {

    width: 100%;
    height: 100%;
}

.thanks {
    position: static;
    padding: 30px;
    margin: 40px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    font-family: "Laila";
    color: antiquewhite;
}

.thanks a {
    text-decoration: none;
    margin: 20px;
    top: 20px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.thanks a:hover {
    background-color: black;
    color: white;

}