* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #2c2f33;
    font-family: "Laila";
    color: white;
    text-align: center;
    line-height: 1.8;
}

p {padding-left: 48px; padding-right: 48px;
}

.header {
    background-color: black;
    color: aliceblue;
    width: 100%;
    position: relative;
    text-align: left;
}

.logo {
    position: relative;
    display: inline-block;
    margin-left: 15px;

}

.menu {
    width: 800px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
    text-align: left;
}

.menu li {
    list-style: none;
    text-decoration: none;
    position: relative;
    padding: 5px;
    display: inline-block;
    padding: 15px;
    border-left: 5px;
    text-align: left;

}

li a {
    text-decoration: none;
    color: aliceblue;
}

.menu li:hover {
    background-color: gray;
    color: black;
}

.banner img {
    width: 100%;
}

#mainlogo {font-size: 100px;
}

#oran {color: #efa35b;
}

.about {padding-left: 48px; padding-right: 48px;
}

.top {
    height: 60px;
    width: 60px;
    text-align: center;
    position: fixed;
    bottom: 68px;
    right: 77px;
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
}

.footer h4 {
    padding: 18px;
    margin: 0 auto;
    text-align: center;

}

.contact {
    background: url(../pic/contact-us.png) center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

/**
.contact h1 {
    position: relative;

    width: 300px;
    height: 240px;
    top: 0px;
    display: inline-block;
    float: left;
}
**/
.contact form {
    position: relative;
    left: 200px;
    margin: 16px;
    display: inline-block;

}

.contact p {
    position: relative;
    display: inline-block;
    /* margin: 20px;
    float: right; */
    left: 265px;
    bottom: 118px;
}

.button1 {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}

.button1:hover {
    background-color: darkgray;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
}

input[type=tel] {
    width: 100%;
    padding: 12px 20px;
}

textarea {
    width: 100%;
    padding: 12px 20px;
}

.thanks {
    position: static;
    padding: 30px;
    margin: 40px;
    width: 800px;
    margin: 0 auto;
    text-align: center;

}

.thanks a {
    text-decoration: none;
    margin: 20px;
    top: 20px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: black;
    color: wheat;
}

.thanks a:hover {
    background-color: gray;
}

.container {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 12px #000000;
    font-size: 50px;
}

h1.centered {font-size: 68px;
}

.sims {font-size: 20px;
}

.contactinfotext {font-size: 16px;
    color: black;
    text-shadow: 0 0 3px #ffffff;
    background-color :rgba(219, 136, 27, 0.74);
    padding: 16px 15px;
    border-radius: 16px;
}